.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 5px;
    background-color: #f5f5f5;
}

.title-h1{
    display: flex;
    font-size: 2em;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #181818;
}

.output-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    height: 500px;
    width: fit-content;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.idea-card{
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    height: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.title{
    display: flex;
    font-size: 1.4em;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #333;
    margin-bottom: 10px;
}

.description{
    display: flex;
    font-size: 1em;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: 500px;
    padding: 30px;
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

.button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    width: 200px;
    background-color: #fff;
    border-radius: 1px;
}

.dislike-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #670101;
    padding: 10px;
    width: 40px;
    border-radius: 360px;
    cursor: pointer;
    font-weight: bold;
}

.like-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #006400;
    padding: 10px;
    width: 40px;
    border-radius: 360px;
    cursor: pointer;
    font-weight: bold;
}

.text-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #333;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}